@import "../abstracts/colors";


.inicioSelect{
    a{
        color: $violetaC;    
    }
}

.galerySelect{
    a{
        color: $violetaC;  
    }
}

.decoSelect{
    a{
        color: $violetaC;  
    }
}

.aboutSelect{
    a{
        color: $violetaC;  
    }
}

.contactoSelect{
    a{
        color: $violetaC;  
    }
}