@import "./abstracts/universal";

@import "./components/header"; 
@import "./components/footer"; 
@import "./components/navbar"; 
@import "./pages/index"; 
@import "./pages/gallery-deco"; 
@import "./pages/about"; 
@import "./pages/contact";








 